= form_for [:admin, @project, @event], html: {class: "form-horizontal"} do |f|
  - if @event.errors.any?
    .alert.alert-error
      %p
        %b
          = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= controller_action
    .control-group
      = f.label :name, class: "control-label"
      .controls= f.text_field :name

    .control-group
      = f.label :type, class: "control-label"
      .controls= f.text_field :type

    .control-group
      = f.label :start_date, class: "control-label"
      .controls= f.text_field :start_date, class: "datetimepicker"

    .control-group
      = f.label :end_date, class: "control-label"
      .controls= f.text_field :end_date, class: "datetimepicker"

    .control-group
      = f.label :url, class: "control-label"
      .controls= f.text_field :url

    = f.fields_for :location do |l|
      = render partial: 'shared/form_location', locals: {f: l}

    .form-actions
      = link_to "Save", "#", title: "Save", id: "submit-event", class: 'btn btn-primary'
