%p
  = link_to '<i class="icon-plus"></i> New Event'.html_safe, new_admin_project_event_path(@project), class: "btn", title: "New"
  = link_to '<i class="icon-upload"></i> Import from CSV'.html_safe, "#", class: "btn import", title: "Import from CSV"

.row
  .span3
    = form_tag import_admin_project_events_path(@project.name), multipart: true, class: "well form-inline import-csv" do
      %h6 Import from CSV
      = file_field_tag :file
      %br
      = submit_tag "Upload", disable_with: 'Uploading...', class: "btn"

.well
  %h6 Stats
  #{@project.events.all.count} total

%textarea{class: "tmpl", "data-project" => "#{@project.name}", "data-model" => "#{controller_name}", "data-action" => "#{action_name}"}
  %tr{class: "${state}"}
    %td
      = link_to '${name}', admin_url + '${id}'
      %div{class: "actions ${state}"}
        = link_to '<i class="icon-ok-circle"></i>'.html_safe, admin_url + '${id}/approve.json', remote: true, class: "state approve btn", title: "Approve"
        = link_to '<i class="icon-ban-circle"></i>'.html_safe, admin_url + '${id}/deny.json', remote: true, class: "state deny btn", title: "Deny"
        = link_to '<i class="icon-edit"></i>'.html_safe, admin_url + '${id}/edit', class: "btn", title: "Edit"
        = link_to '<i class="icon-trash"></i>'.html_safe, admin_url + '${id}.json', remote: true, confirm: 'Are you sure?', method: :delete, class: "btn delete", title: "Delete"
    %td ${state}
    %td ${type}
    %td ${start_date}
    %td ${end_date}
    %td ${location.address}
    %td ${location.latitude}
    %td ${location.longitude}
    %td ${updated_at}

%table.table.table-striped.table-bordered
  %tr
    %th{width: 250} Name
    %th State
    %th Type
    %th Start Date
    %th End Date
    %th Address
    %th Latitude
    %th Longitude
    %th Updated At

    / %td
    /   = form_for event, url: admin_project_event_path(@project.name, event, format: :json), remote: true, html: { class: 'location_update_form' } do |f|
    /     = f.hidden_field :id
    /     = f.fields_for :location do |l|
    /       = l.hidden_field :address
    /       = l.hidden_field :latitude
    /       = l.hidden_field :longitude
    /     = link_to 'Locate', 'javascript: void(0);', 'data-form-id' => "edit_#{dom_id(event)}", class: "locate btn"
