.alert

= link_to 'New event', new_admin_project_event_path(@project), class: "button short"

.import
  = form_tag import_admin_project_events_path(@project.name), multipart: true do
    %h2 Import from CSV
    = file_field_tag :file
    = submit_tag "Upload", disable_with: 'Uploading...'

.stats
  #{@project.events.all.count} total

%table
  %tr
    - %w{name state type start_date end_date url location.address location.latitude location.longitude updated_at}.each do |c|
      %th.sort= sort_by c
    %th{colspan: 3} Actions
    %th.delete -

    - @events.each do |event|
      %tr{id: "#{dom_id(event)}"}
        %td= link_to event.name, [:admin, @project, event], class: "text"
        %td= event.state
        %td= event.type
        %td= l event.start_date, format: :custom
        %td= l event.end_date, format: :custom
        %td= event.url
        %td= event.location.address
        %td.event-latitude= event.location.latitude
        %td.event-longitude= event.location.longitude
        %td= l event.updated_at, format: :custom
        %td
          = form_for event, url: admin_project_event_path(@project.name, event, format: :json), remote: true, html: { class: 'location_update_form' } do |f|
            = f.hidden_field :id
            = f.fields_for :location do |l|
              = l.hidden_field :address
              = l.hidden_field :latitude
              = l.hidden_field :longitude
            -# = f.submit 'Locate', class: "button locate"
            = link_to 'Locate', 'javascript: void(0);', 'data-form-id' => "edit_#{dom_id(event)}", class: "locate button"

        %td
          - if event.state != 'approved'
            = link_to 'Approve', approve_admin_project_event_path(@project, event, format: :json), remote: true, class: "approve button"
          - if event.state != 'denied'
            = link_to 'Deny', deny_admin_project_event_path(@project, event, format: :json), remote: true, class: "deny button"
        %td= link_to 'Edit', [:edit, :admin, @project, event], class: "button"
        %td= link_to '-', polymorphic_url([:admin, @project, event], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "delete button"

= paginate(@events, window: 5)