%p
  = link_to 'Back', admin_project_signups_path(@project), title: "Back", class: "btn btn-inverse"

.row
  .span6
    = form_for [:admin, @project, @signup], html: { multipart: true, class: "form-horizontal"} do |f|
      - if @signup.errors.any?
        .alert.alert-error
          %p
            %b
              = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @signup.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend= controller_action
        .control-group
          = f.label :first_name, class: "control-label"
          .controls= f.text_field :first_name

        .control-group
          = f.label :last_name, class: "control-label"
          .controls= f.text_field :last_name

        .control-group
          = f.label :address, class: "control-label"
          .controls= f.text_field :address

        .control-group
          = f.label :city, class: "control-label"
          .controls= f.text_field :city

        .control-group
          = f.label :state_province, class: "control-label"
          .controls= f.text_field :state_province

        .control-group
          = f.label :zip_code, class: "control-label"
          .controls= f.text_field :zip_code

        .control-group
          = f.label :email, class: "control-label"
          .controls= f.text_field :email

        .form-actions
          = f.submit 'Save', class: 'btn btn-primary'