%p
  = link_to '<i class="icon-plus"></i> New Signup'.html_safe, new_admin_project_signup_path(@project), class: "btn", title: "New"
  = link_to '<i class="icon-download"></i> Download CSV'.html_safe, admin_project_signups_path(@project, format: :csv), class: "btn", title: "Download CSV"

.well
  %h6 Stats
  #{@project.signups.all.count} total

%table{class: "tmpl", "data-project" => "#{@project.name}", "data-model" => "#{controller_name}", "data-action" => "#{action_name}"}
  %tbody
    %tr
      %td
        = link_to '${first_name}', admin_url + "${id}"
        .actions
          = link_to '<i class="icon-edit"></i>'.html_safe, admin_url + "${id}/edit", class: "btn", title: "Edit"
          = link_to '<i class="icon-trash"></i>'.html_safe, admin_url + "${id}.json", remote: true, confirm: 'Are you sure?', method: :delete, class: "btn delete", title: "Delete"
      %td ${last_name}
      %td ${email}
      %td ${zip_code}
      %td ${created_at}


%table.table.table-striped.table-bordered
  %tr
    %th{width: 250} First Name
    %th Last Name
    %th Email
    %th Zip Code
    %th Created At