.alert

= link_to 'New poll', new_admin_project_poll_path(@project, @poll), class: "button short"

.stats
  #{@project.polls.all.count} total

%table
  %tr
    - %w{question choices start_date end_date state created_at}.each do |c|
      %th.sort= sort_by c
    %th{colspan: 2} Actions
    %th.delete -

    - @project.polls.each do |poll|
      %tr
        %td= link_to poll.question, [:admin, @project, poll], class: "text"
        %td
          - poll.choices.each do |c|
            ="-#{c.content}"
        %td
          = l poll.start_date, format: :custom if poll.start_date?
        %td
          = l poll.end_date, format: :custom if poll.end_date?
        %td= poll.state
        %td= l poll.created_at, format: :custom
        - if poll.state != 'active'
          %td= link_to 'Activate', activate_admin_project_poll_path(@project, poll, format: :json), remote: true, class: "activate button"
        - if poll.state != 'inactive'
          %td= link_to 'Deactivate', deactivate_admin_project_poll_path(@project, poll, format: :json), remote: true, class: "deactivate button"
        %td= link_to 'Edit', [:edit, :admin, @project, poll], class: "button"
        %td= link_to '-', polymorphic_url([:admin, @project, poll], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "delete button"