%p
  = link_to '<i class="icon-plus"></i> New Release'.html_safe, new_admin_project_release_path(@project), class: "btn", title: "New"

.well
  %h6 Stats
  #{@project.releases.all.count} total

= paginate @releases

%table.table.table-striped.table-bordered
  %tr
    %th{width: 250}= sort_by "description"
    - %w{live_date state branch status}.each do |c|
      %th.sort= sort_by c
    %th{width: 63}

    - @releases.each do |release|
      / %tr{class: (release.state == 'live' ? nil : "inactive")}
      %tr
        %td
          = link_to release.description, admin_project_release_path(@project, release)
          .actions
            = link_to '<i class="icon-edit"></i>'.html_safe, [:edit, :admin, @project, release], class: "btn", title: "Edit"
            = link_to '<i class="icon-trash"></i>'.html_safe, polymorphic_url([:admin, @project, release], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "btn", title: "Delete"
        %td= release.live_date < Time.current ? "#{time_ago_in_words(release.live_date)} ago" : "in #{time_ago_in_words(release.live_date)}"
        %td= release.state
        %td= release.branch
        %td= release.status
        %td
          - if release.can_go_live?
            = link_to 'Deploy', go_live_admin_project_release_path(@project, release, format: :html), remote: false, confirm: 'Are you sure?', class: "go-live btn"

= paginate @releases