%p
  = link_to '<i class="icon-plus"></i> New Project'.html_safe, new_admin_project_path, class: "btn", title: "New"
  = link_to '<i class="icon-list-alt"></i> Queue Deploy'.html_safe, queue_deploy_admin_projects_path(format: :json), remote: true, method: :post, confirm: 'Are you sure?', class: "btn deploy", title: "Queue Deploy"

= paginate @projects

%table.table.table-striped.table-bordered
  %tr
    %th.auto Name
    %th{width: 110} Facebook App ID
    %th{width: 99} Live Branch
    %th{width: 111}

  - @projects.each do |project|
    %tr{class: project.active? ? nil : "inactive"}
      %td
        = link_to project.name, [:admin, project]
        .actions
          = link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_project_path(project), class: "btn", title: "Edit"
          - if project.active?
            = link_to '<i class="icon-ban-circle"></i>'.html_safe, deactivate_admin_project_path(project, format: :json), remote: true, class: "deactivate btn", title: "Deactivate"
          - else
            = link_to '<i class="icon-ok-circle"></i>'.html_safe, activate_admin_project_path(project, format: :json), remote: true, class: "activate btn", title: "Activate"
          = link_to '<i class="icon-trash"></i>'.html_safe, polymorphic_url([:admin, project], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "btn delete", title: "Delete"
      %td= project.facebook_app_id
      %td
        - project.releases.each do |release|
          - if release.state == "live"
            = link_to '<i class="icon-eye-open"></i> '.html_safe + truncate(release.branch, length: 10), project_path(project), class: "btn release", title: "Go to App : branch@#{release.branch}"

      %td
        = link_to '<i class="icon-home"></i>'.html_safe, [:admin, project], class: "btn home", title: "Project Summary"
        = link_to '<i class="icon-asterisk"></i> Repo'.html_safe, project.repo, remote: true, class: "btn repo", title: project.repo

= paginate @projects
