%p#notice= notice
.column
  = link_to '<i class="icon-eye-open"></i>'.html_safe, "/#{@project.name}/", class: "btn", title: "Go to App"
  = link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_project_path(@project), class: "btn", title: "Edit"
  - if @project.state == "inactive"
    = link_to '<i class="icon-ok-circle"></i>'.html_safe, activate_admin_project_path(@project, format: :json), remote: true, class: "activate btn", title: "Activate"
  - elsif
    = link_to '<i class="icon-ban-circle"></i>'.html_safe, deactivate_admin_project_path(@project, format: :json), remote: true, class: "deactivate btn", title: "Deactivate"
  = link_to 'Back', admin_projects_path, class: "btn btn-info", title: "Back"

.column.right
  %h2
    = @project.name
  %p
    %b Description:
    = @project.description

  %p
    %b facebook_app_id:
    = @project.facebook_app_id

  %p
    %b facebook_app_secret:
    = @project.facebook_app_secret

  %p
    %b git repo:
    = @project.repo

  %p
    %b google_analytics_tracking_code:
    = @project.google_analytics_tracking_code

  %p
    %b production_url:
    = link_to @project.production_url
