- unless notice.blank?
  #notice.alert= notice

%p
  = link_to 'Back', admin_projects_path, title: "Back", class: "btn btn-inverse"
  = link_to '<i class="icon-eye-open"></i>'.html_safe, "/#{@project.name}/", title: "Go to App", class: "btn"
  = link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_project_path(@project), title: "Edit", class: "btn"
  - if @project.state == "inactive"
    = link_to '<i class="icon-ok-circle"></i>'.html_safe, activate_admin_project_path(@project, format: :json), remote: true, title: "Activate", class: "activate btn"
  - elsif
    = link_to '<i class="icon-ban-circle"></i>'.html_safe, deactivate_admin_project_path(@project, format: :json), remote: true, title: "Deactivate", class: "deactivate btn"

.row
  .span6
    %table.table.table-bordered
      %tr
        %td Created at
        %td= @project.created_at
      %tr
        %td Updated at
        %td= @project.updated_at
      %tr
        %td Name
        %td
          %b
            = @project.name
      %tr
        %td Description
        %td= @project.description

      %tr
        %td facebook_app_id
        %td= @project.facebook_app_id

      %tr
        %td facebook_app_secret
        %td= @project.facebook_app_secret

      %tr
        %td git repo
        %td= @project.repo

      %tr
        %td google_analytics_tracking_code
        %td= @project.google_analytics_tracking_code

      %tr
        %td production_url
        %td= link_to @project.production_url

      %tr
        %td state
        %td= @project.state
