%p
  = link_to 'Back', admin_project_view_templates_path(@project), title: "Back", class: "btn btn-inverse"

.row
  .span12
    = form_for [:admin, @project, @view_template], html: { multipart: true, class: "form-horizontal"} do |f|
      - if @view_template.errors.any?
        .alert.alert-error
          %p
            %b
              = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @view_template.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend= controller_action
        .control-group
          = f.label :path, class: "control-label"
          .controls= f.text_field :path

        .control-group
          = f.label :formats, class: "control-label"
          .controls= f.text_field :formats

        .control-group
          = f.label :locale, class: "control-label"
          .controls= f.text_field :locale

        .control-group
          = f.label :handlers, class: "control-label"
          .controls= f.text_field :handlers

        .control-group
          = f.label :contents, class: "control-label"
          .controls= f.text_area :contents, style: "width: 95%"

        .form-actions
          = f.hidden_field :project_id
          = f.submit 'Save', class: 'btn btn-primary'