%p
  = link_to '<i class="icon-plus"></i> New View Template'.html_safe, new_admin_project_view_template_path(@project), class: "btn", title: "New"

.well
  %h6 Stats
  #{@project.view_templates.all.count} total

= paginate @view_templates

%table.table.table-striped.table-bordered
  %tr
    %th{width: 250}=sort_by "handlers"
    - %w{path formats locales updated_at}.each do |c|
      %th.sort= sort_by c

    -@view_templates.each do |view_template|
      %tr
        %td
          = view_template.handlers
          .actions
            = link_to '<i class="icon-edit"></i>'.html_safe, [:edit, :admin, @project, view_template], class: "btn", title: "Edit"
            = link_to '<i class="icon-trash"></i>'.html_safe, polymorphic_url([:admin, @project, view_template], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "btn", title: "Delete"
        %td= view_template.path
        %td= view_template.formats
        %td= view_template.locale
        %td= l view_template.updated_at, format: :custom

= paginate @view_templates