- unless notice.blank?
  #notice.alert= notice

%p
  = link_to 'Back', admin_project_releases_path(@project), title: "Back", class: "btn btn-inverse"
  = link_to '<i class="icon-plus"></i>'.html_safe, new_admin_project_release_path(@project), title: "New", class: "btn"
  = link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_project_release_path(@project), title: "Edit", class: "btn"

.row
  .span12
    %table.table.table-bordered
      %tr
        %td{width: 120} Created at
        %td= @release.created_at
      %tr
        %td Updated at
        %td= @release.updated_at
      %tr
        %td Path
        %td= @release.path
      %tr
        %td Formats
        %td= @release.formats
      %tr
        %td Locale
        %td= @release.locale
      %tr
        %td Handlers
        %td= @release.handlers
      %tr
        %td Contents
        %td
          %pre= @release.contents
