= form_tag vote_poll_path(@project.name, @poll), method: :put do

  .desc
    %table
      %tr
        %td Question
        %td= @poll.question

      %tr
        %td
          %ol
            - @poll.choices.each do |choice|
              %li
                = radio_button :choice, :id, choice.id
                = "#{choice.content} (#{choice.votes} votes)"

      %tr
        %td Start Date
        %td= @poll.start_date

      %tr
        %td End Date
        %td= @poll.end_date

  = submit_tag