%p
  = link_to 'Back', admin_project_images_path(@project), title: "Back", class: "btn btn-inverse"

.row
  .span6
    = form_for [:admin, @project, @image], html: { multipart: true, class: "form-horizontal"} do |f|
      - if @image.errors.any?
        .alert.alert-error
          %p
            %b
              = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @image.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend= controller_action
        .control-group
          = f.label :name, class: "control-label"
          .controls= f.text_field :name

        .control-group
          = f.label :description, class: "control-label"
          .controls= f.text_field :description

        .control-group
          = f.label :image, class: "control-label"
          .controls
            = f.file_field :image
            %br
            - unless @image.new_record?
              = image_tag @image.image.url

        .form-actions
          = f.hidden_field :project_id
          = f.submit 'Save', class: 'btn btn-primary'
