%p
  = link_to '<i class="icon-plus"></i> New Image'.html_safe, new_admin_project_image_path(@project), class: "btn", title: "New"

.well
  %h6 Stats
  #{@project.images.all.count} total

%table{class: "tmpl", "data-project" => "#{@project.name}", "data-model" => "#{controller_name}", "data-action" => "#{action_name}"}
  %tbody
    %tr{class: "${state}"}
      %td
        = link_to '${name}', admin_url + '${id}'
        %div{class: "actions ${state}"}
          = link_to '<i class="icon-ok-circle"></i>'.html_safe, admin_url + '${id}/approve.json', remote: true, class: "state approve btn", title: "Approve"
          = link_to '<i class="icon-ban-circle"></i>'.html_safe, admin_url + '${id}/deny.json', remote: true, class: "state deny btn", title: "Deny"
          = link_to '<i class="icon-edit"></i>'.html_safe, admin_url + '${id}/edit', class: "btn", title: "Edit"
          = link_to '<i class="icon-trash"></i>'.html_safe, admin_url + '${id}.json', remote: true, confirm: 'Are you sure?', method: :delete, class: "btn delete", title: "Delete"
      %td ${state}
      %td ${description}
      %td ${updated_at}
      %td {{if image.url}}<a href="${image.url}" class="btn" target="_blank"><i class="icon-picture"></i></a>{{/if}}

%table.table.table-striped.table-bordered
  %tr
    %th{width: 250} Name
    %th State
    %th Description
    %th Updated At
    %th Image?


