.alert

= link_to 'New image', new_admin_project_image_path(@project), class: "button short"

.stats
  #{@project.images.all.count} total

= paginate(@images, window: 5)

%table{class: "table-list"}
  %tr
    %th Image
    - %w{name state description updated_at}.each do |c|
      %th.sort= sort_by c
    %th{colspan: 2} Action
    %th.delete -

    - @images.each do |image|
      %tr
        %td= link_to image_tag(image.image.url), [:admin, @project, image] if image.image?
        %td= image.name
        %td= image.state
        -# %td= image.youtube_id
        %td= image.description
        %td= l image.updated_at, format: :custom
        %td
          - if image.state != 'approved'
            = link_to 'Approve', approve_admin_project_image_path(@project, image, format: :json), remote: true, class: "approve button"
          - if image.state != 'denied'
            = link_to 'Deny', deny_admin_project_image_path(@project, image, format: :json), remote: true, class: "deny button"
        %td= link_to 'Edit', [:edit, :admin, @project, image], class: "button"
        %td= link_to '-', polymorphic_url([:admin, @project, image], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "delete button"

= paginate(@images, window: 5)