%p#notice= notice
.column
  = link_to 'New Image', new_admin_project_image_path(@project), class: "button short"
  = link_to 'Edit', [:edit, :admin, @project, @image], class: "button short"
  = link_to 'Back', admin_project_images_path(@project), class: "button short"

.column.center
  %table
    %tr
      %td Name
      %td= @image.name
    %tr
      %td State
      %td= @image.state

.column
  - unless @image.image.blank?
    = image_tag @image.image.url, class: "show-list-img"