- unless notice.blank?
  #notice.alert= notice

%p
  = link_to 'Back', admin_project_images_path(@project), title: "Back", class: "btn btn-inverse"
  = link_to '<i class="icon-plus"></i>'.html_safe, new_admin_project_image_path(@project), title: "New", class: "btn"
  = link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_project_image_path(@project), title: "Edit", class: "btn"

.row
  .span6
    %table.table.table-bordered
      %tr
        %td State
        %td= @image.state
      %tr
        %td Name
        %td= @image.name
      %tr
        %td Description
        %td= @image.description
      %tr
        %td Image
        %td
          - unless @image.image.blank?
            = image_tag @image.image.url