%p
  = link_to 'Back', admin_project_videos_path(@project), title: "Back", class: "btn btn-inverse"

.row
  .span6
    = form_for [:admin, @project, @video], html: { multipart: true, class: "form-horizontal"} do |f|
      - if @video.errors.any?
        .alert.alert-error
          %p
            %b
              = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @video.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend= controller_action
        .control-group
          = f.label :name, class: "control-label"
          .controls= f.text_field :name

        .control-group
          = f.label :youtube_id, "YouTube Video ID", class: "control-label"
          .controls= f.text_field :youtube_id

        .control-group
          = f.label :description, class: "control-label"
          .controls= f.text_field :description

        .control-group
          = f.label :screencap, class: "control-label"
          .controls
            = f.file_field :screencap
            %br
            - unless @video.new_record?
              = image_tag @video.screencap.url

        .form-actions
          = f.hidden_field :project_id
          = f.submit 'Save', class: 'btn btn-primary'