.alert

= link_to 'New video', new_admin_project_video_path(@project), class: "button short"

.stats
  #{@project.videos.all.count} total

= paginate(@videos, window: 5)

%table{class: "table-list"}
  %tr
    %th Image
    - %w{name state youtube_id description updated_at}.each do |c|
      %th.sort= sort_by c
    %th{colspan: 2} Action
    %th.delete -

    -@videos.each do |video|
      %tr
        %td= link_to image_tag(video.screencap.url), [:admin, @project, video] if video.screencap?
        %td= video.name
        %td= video.state
        %td= video.youtube_id
        %td= video.description
        %td= l video.updated_at, format: :custom
        %td
          - if video.state != 'approved'
            = link_to 'Approve', approve_admin_project_video_path(@project, video, format: :json), remote: true, class: "approve button"
          - if video.state != 'denied'
            = link_to 'Deny', deny_admin_project_video_path(@project, video, format: :json), remote: true, class: "deny button"
        %td= link_to 'Edit', [:edit, :admin, @project, video], class: "button"
        %td= link_to '-', polymorphic_url([:admin, @project, video], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "delete button"

= paginate(@videos, window: 5)