%p
  = link_to 'Back', admin_project_submissions_path(@project), title: "Back", class: "btn btn-inverse"

.row
  .span6
    = form_for [:admin, @project, @submission], html: { multipart: true, class: "form-horizontal"} do |f|
      - if @submission.errors.any?
        .alert.alert-error
          %p
            %b
              = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
          %ul
            - @submission.errors.full_messages.each do |msg|
              %li= msg

      %fieldset
        %legend= controller_action
        .control-group
          = f.label :facebook_name, class: "control-label"
          .controls= f.text_field :facebook_name

        .control-group
          = f.label :facebook_id, 'Facebook ID', class: "control-label"
          .controls= f.text_field :facebook_id

        .control-group
          = f.label :facebook_email, class: "control-label"
          .controls= f.text_field :facebook_email

        .control-group
          = f.label :description, class: "control-label"
          .controls= f.text_area :description

        .control-group
          = f.label :photo, class: "control-label"
          .controls
            = f.file_field :photo
            - unless @submission.new_record?
              = image_tag @submission.photo.url if @submission.photo?

        .form-actions
          = f.hidden_field :project_id
          = f.submit 'Save', class: 'btn btn-primary'