.alert

= link_to 'New Submission', new_admin_project_submission_path(@project, @submission), class: "button short"

.stats
  #{@project.submissions.all.count} total / #{@project.submissions.submitted.count} submitted

= paginate(@submissions, window: 5)

%table{class: "table-list"}
  %tr
    %th Image
    - %w{state facebook_name facebook_id facebook_email created_at}.each do |c|
      %th.sort= sort_by c
    %th.delete -

  - @submissions.each do |submission|
    %tr
      %td= link_to image_tag(submission.photo.url), [:admin, @project, submission] if submission.photo?
      %td= submission.state
      %td= submission.facebook_name
      %td= submission.facebook_id
      %td= truncate(submission.facebook_email, length: 50)
      %td= l submission.created_at, format: :custom
      %td= link_to '-', polymorphic_url([:admin, @project, submission], format: :json), remote: true, confirm: 'Are you sure?', method: :delete, class: "delete button"

= paginate(@submissions, window: 5)